* {
    margin: 0;
    padding: 0;
}

div {
    padding: 5px;
}

hr {
    width: 440px;
}

div#container {
    border: 1px solid #000;
    width: 500px;
}

div#container > div {
    border: 1px solid #000;
}1

div#container > div > div > div {
    display: inline-block;
    padding: 0 5px 0 5px;
}

h2 {
    text-align: right;
}

h1 {
    text-align: center;
}